@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    margin: 0px;
    padding: 0px;
}
body {
    height: 97vh;
    background-size: cover;
    background-position: center center;
    background-color: #191622;
    font-family: 'Roboto Mono', monospace;
}

#container{
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 0px 15px;;
    position: relative;
}
#photo {
    border-radius: 50%;
    margin: 18px 65px 0px 65px;
    padding: 3px;
    width: 36%;
    
}

.nome {
    color: rgb(231, 229, 229);
    font-size: 15px;
    padding: 10px 0px 15px 0px;
    font-weight: 100;
    text-align: center;
}

.email {
    color: white;
    background-color: rgb(216, 64, 47);
    display: inline-block;
    text-decoration: none;
    height: 48px;
    width: 280px;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.137);
}

.icon {
    padding: 14px 8px 14px 0px;
    vertical-align: middle;
    width: 23px;
    height: 23px;
}

a:hover.email {
    background-color: rgb(207, 77, 65);
}

.discord {
    color: white;
    background-color: #5865F2;
    height: 48px;
    width: 280px;
    margin-top: 7px;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.137);
    display: inline-block;
    text-decoration: none;
}

a:hover.discord {
    background-color: #5a74d4;
}

.linkedin {
    background-color: rgb(0, 97, 175);
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.137);
    box-sizing: border-box;
    border-radius: 8px;
    color: white;
    display: inline-block;
    margin-top: 7px;
    text-decoration: none;
    height: 48px;
    width: 280px;
}

.linkedin:hover {
    background-color: rgb(0, 108, 196);
}

.instagram {
    background-image: linear-gradient(-145deg, #5458CB, #9936BC, #D22E8E, #ED594B, #FEBF59);
    background-attachment: unset;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.137);
    box-sizing: border-box;
    border-radius: 8px;
    color: white;
    display: inline-block;
    margin-top: 7px;
    text-decoration: none;
    height: 48px;
    width: 280px;
}

.instagram:hover {
    background-image: linear-gradient(-145deg, #5d61df, #a83dcf, #e9329d, #ff5b4c, #ffbc4f);
}

.twitter {
    background-color: #00A2E4;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.137);
    box-sizing: border-box;
    border-radius: 8px;
    color: white;
    display: inline-block;
    margin-top: 7px;
    text-decoration: none;
    height: 48px;
    width: 280px;
}

.twitter:hover {
    background-color: #00b4fc;
}

.github {
    background-color: black;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.137);
    box-sizing: border-box;
    border-radius: 8px;
    color: white;
    display: inline-block;
    margin-top: 7px;
    text-decoration: none;
    height: 48px;
    width: 280px;
}

.github:hover {
    background-color: rgb(19, 19, 19);
}